.header__square-pic{
  position: absolute;
  top: 40%;
  left: 81%;
  margin-top: -20px;
  transform: translate(50%, -50%);
  animation: rotate 20s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }