.feynman__title {
    width: 775px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    line-height: 1.15;
    font-size: 100px;
    font-weight: 600;
    }
    