.logo_place_header{
    padding:  32px 64px;
    background-image: url(../../../images/logo_place_header.png);
    background-size: 143px 32px;
    background-repeat: no-repeat;
    margin: 30px 65px ;
    }